// Colors
$brand-primary: #337AB7;
$brand-info: #5BC0DE;
$brand-warning: #F0AD4E;
$brand-success: #5CB85C;
$brand-danger: #D9534F;
$brand-pass: #9AA3B2;
$brand-error: #C81010;

// Buttons
$btn-primary-color: #FFFFFF;
$btn-primary-bg: $brand-primary;
$btn-success-color: #FFFFFF;
$btn-success-bg: #83BF40;
$btn-info-color: #FFFFFF;
$btn-info-bg: $brand-info;
$btn-warning-color: #FFFFFF;
$btn-warning-bg: $brand-warning;
$btn-danger-color: #FFFFFF;
$btn-danger-bg: #FF0000;
$btn-gray-bg: #DBE1E6;
$btn-gray-color: #000000;

// Alert
$alert-primary-bg: $brand-primary;
$alert-success-bg: $brand-success;
$alert-info-bg: $brand-info;
$alert-warning-bg: $brand-warning;
$alert-danger-bg: $brand-danger;
$alert-pass-bg: $brand-pass;
$alert-error-bg: $brand-error;
//Anchor
$anchor-primary-bg: $brand-primary;
$anchor-success-bg: $brand-success;
$anchor-info-bg: $brand-info;
$anchor-warning-bg: $brand-warning;
$anchor-danger-bg: $brand-danger;

// Badge
$badge-primary-bg: $brand-primary;
$badge-success-bg: $brand-success;
$badge-info-bg: $brand-info;
$badge-warning-bg: $brand-warning;
$badge-danger-bg: $brand-danger;

// Label
$label-primary-bg: $brand-primary;
$label-success-bg: $brand-success;
$label-info-bg: $brand-info;
$label-warning-bg: $brand-warning;
$label-danger-bg: $brand-danger;