@font-face {
    font-family: 'icon_font';
    font-style: normal;
    font-weight: normal;
    src: url('fonts/icon_font.eot');
    src: url('fonts/icon_font.eot?#iefix') format('embedded-opentype'), url('fonts/icon_font.svg#icomoon') format('svg'), url('fonts/icon_font.woff') format('woff'), url('fonts/icon_font.ttf') format('truetype');
}

[class^="fontIcon__icon-"]:before,
[class*="fontIcon__icon-"]:before {

    font-family: 'icon_font';
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-weight: normal;
    speak: none;
    text-rendering: optimizeLegibility;
}

.fontIcon {
    color: #336699;
    font-size: 32px;

    &__icon {

        &-add_new_audit:before {
            content: "\e90d";
        }

        &-add_new_column:before {
            content: "\e90e";
        }

        &-add_new_row:before {
            content: "\e90f";
        }

        &-italic_expression:before {
            content: "\e90c";
        }

        &-administration:before {
            content: "\e910";
        }

        &-amazon:before {
            content: "\e911";
        }

        &-audit:before {
            content: "\e912";
        }

        &-audit_log:before {
            content: "\e913";
        }

        &-bold:before {
            content: "\e914";
        }

        &-carrot:before {
            content: "\e195";
        }

        &-close:before {
            content: "\e916";
        }

        &-dashboard:before {
            content: "\e917";
        }

        &-data_administration:before {
            content: "\e918";
        }

        &-data_input:before {
            content: "\e919";
        }

        &-data_load_admin:before {
            content: "\e91a";
        }

        &-data_load_errors:before {
            content: "\e91b";
        }

        &-data_upload:before {
            content: "\e91c";
        }

        &-Delete:before {
            content: "\e91d";
        }

        &-delete_column:before {
            content: "\e91e";
        }

        &-delete_row:before {
            content: "\e91f";
        }

        &-download_icon:before {
            content: "\e920";
        }

        &-transformation:before {
            content: "\e921";
        }

        &-error:before {
            content: "\e922";
        }

        &-export-new-file:before {
            content: "\e923";
        }

        &-favorites:before {
            content: "\e924";
        }

        &-filter:before {
            content: "\e925";
        }

        &-graphs:before {
            content: "\e926";
        }

        &-Home:before {
            content: "\e927";
        }

        &-Import-new-file:before {
            content: "\e928";
        }

        &-info:before {
            content: "\e929";
        }

        &-input_tables:before {
            content: "\e92a";
        }

        &-Invalid_data:before {
            content: "\e92b";
        }

        &-italic:before {
            content: "\e92c";
        }

        &-leaf_level_icon:before {
            content: "\e92d";
        }

        &-left-align:before {
            content: "\e92e";
        }

        &-loading:before {
            content: "\e92f";
        }

        &-logout:before {
            content: "\e930";
        }

        &-logs:before {
            content: "\e931";
        }

        &-modify_row:before {
            content: "\e932";
        }

        &-more_dropdown_opt:before {
            content: "\e933";
        }

        &-more:before {
            content: "\e9be";
        }

        &-my_sql:before {
            content: "\e934";
        }

        &-nav_down:before {
            content: "\e935";
        }

        &-nav_home:before {
            content: "\e936";
        }

        &-nav_left:before {
            content: "\e937";
        }

        &-nav_minus:before {
            content: "\e938";
        }

        &-nav_plus:before {
            content: "\e939";
        }

        &-nav_right:before {
            content: "\e93a";
        }

        &-nav_up:before {
            content: "\e93b";
        }

        &-oracle:before {
            content: "\e93c";
        }

        &-overview:before {
            content: "\e93d";
        }

        &-print:before {
            content: "\e93e";
        }

        &-Redo:before {
            content: "\e93f";
        }

        &-reporting_analytics:before {
            content: "\e940";
        }

        &-run:before {
            content: "\e941";
        }

        &-SAP:before {
            content: "\e942";
        }

        &-Save:before {
            content: "\e943";
        }

        &-search_plane:before {
            content: "\e944";
        }

        &-settings:before {
            content: "\e945";
        }

        &-sidebar_expand:before {
            content: "\e946";
        }

        &-sign_out:before {
            content: "\e947";
        }

        &-SMTP:before {
            content: "\e948";
        }

        &-sorter_a_to_z:before {
            content: "\e94c";
        }

        &-sorter_default:before {
            content: "\e944";
        }

        &-sorter_z_to_a:before {
            content: "\e995";
        }

        &-tables:before {
            content: "\e996";
        }

        &-thumbs_up:before {
            content: "\e9a5";
        }

        &-thumbs_up_hand:before {
            content: "\e9a6";
        }

        &-thumbs_up_outline:before {
            content: "\e9a7";
        }

        &-tick:before {
            content: "\e9a8";
        }

        &-tick_upload_status:before {
            content: "\e9a9";
        }

        &-underline:before {
            content: "\e9aa";
        }

        &-Undo:before {
            content: "\e9ab";
        }

        &-upload_icon:before {
            content: "\e9ac";
        }

        &-valid_data:before {
            content: "\e9ad";
        }

        &-plus_16_16:before { // TODO
            content: "\e949";
        }

        &-plus_32_32:before { // TODO
            content: "\e94a";
        }

        &-thumbs_down_fill:before {
            content: "\e94b";
        }

        &-thumbs_down:before {
            content: "\e9ae";
        }

        &-nokia_logo_0_0_1024_1024:before {
            content: "\e94d";
        }

        &-level_1:before {
            content: "\e94e";
        }

        &-level_2:before {
            content: "\e94f";
        }

        &-level_3:before {
            content: "\e950";
        }

        &-data_load:before {
            content: "\e951";
        }

        &-edit:before {
            content: "\e952";
        }

        &-search_clear:before {
            content: "\e953";
        }

        &-success:before {
            content: "\e954";
        }

        &-pencil:before {
            content: "\e955";
        }

        &-caution:before {
            content: "\e956";
        }

        &-table_legend:before {
            content: "\e957";
        }

        &-import:before {
            content: "\e958";
        }

        &-maximize:before {
            content: "\e97c";
        }

        &-minimize:before {
            content: "\e97d";
        }

        &-DataSheet:before {
            content: "\e97e";
        }

        &-DCA:before {
            content: "\e97f";
        }

        &-ETL:before {
            content: "\e980";
        }

        &-add_column:before {
            content: "\e981";
        }

        &-save:before {
            content: "\e982";
        }

        &-single_table:before {
            content: "\e983";
        }

        &-ex:before {
            content: "\e984";
        }

        &-nokia_logo:before {
            content: "\e985";
        }

        &-calender:before {
            content: "\e986";
        }

        &-view:before {
            content: "\e987";
        }

        &-output_tables:before {
            content: "\e98c";
        }

        &-parameter_tables:before {
            content: "\e98b";
        }

        &-groups:before {
            content: "\e993";
        }

        &-transformations:before {
            content: "\e92d";
        }

        &-workflow:before {
            content: "\e9b8";
        }

        &-Close:before {
            content: "\e992";
        }

        &-upload_photo:before {
            content: "\e98d";
        }

        &-Primary-key:before {
            content: "\e999";
        }

        &-down-arrow-t:before {
            content: "\e99b";
        }

        &-add_new:before {
            content: "\e99c";
        }

        &-max:before {
            content: "\e99d";
        }

        &-min:before {
            content: "\e99e";
        }

        &-database:before {
            content: "\e99f";
        }

        &-view2:before {
            content: "\e9a0";
        }

        &-list_view:before {
            content: "\e9a2";
        }

        &-grid_view:before {
            content: "\e9a1";
        }

        &-icon-view:before {
            content: "\e9a0";
        }

        &-salesforce:before {
            content: "\e900";
        }

        &-s3:before {
            content: "\e901";
        }

        &-hdfs:before {
            content: "\e906";
        }

        &-mysql:before {
            content: "\e908";
        }

        &-sftp:before {
            content: "\e90a";
        }

        &-active_connection:before {
            content: "\e9b1";
        }

        &-connection_waiting:before {
            content: "\e9b2";
        }

        &-incomplete_connection:before {
            content: "\e9b4";
        }

        &-db_connection:before {
            content: "\e9b3";
        }

        &-invalid_connection:before {
            content: "\e9b5";
        }

        &-file:before {
            content: "\e9b6";
        }

        &-schemabrowser:before {
            content: "\e9b7";
        }

        &-workflows:before {
            content: "\e92d";          // Leaf level code for demo after that i will replace
        }

        &-azure:before {
            content: "\e9b9";
        }

        &-btn_add:before {
            content: "\e9b0";
        }

        &-query_language:before {
            content: "\e9c0";
        }

        &-available_images:before {
            content: "\e9d5";
        }

        &-physical_servers:before {
            content: "\e9d6";
        }

        &-running_instances:before {
            content: "\e9d9";
        }

        &-virtual_environment:before {
            content: "\e9d8";
        }

        &-virtual_networks:before {
            content: "\e9d7";
        }

        &-add_new_colum:before {
            content: "\e9df";
        }

        &-add_new_table:before {
            content: "\e9e0";
        }

        &-advance_options:before {
            content: "\e9e1";
        }

        &-export-to-file:before {
            content: "\e9e2";
        }

        &-history:before {
            content: "\e9e3";
        }

        &-open_folder:before {
            content: "\e9ed";
        }

        &-sch-group_view:before {
            content: "\e9e8";
        }

        &-sch-refrential_integrity:before {
            content: "\e9e7";
        }

        &-sch-reset-to-tables:before {
            content: "\e9e6";
        }

        &-sch-add-new-table:before {
            content: "\e9ee";
        }

        &-sch-delete:before {
            content: "\e9e9";
        }

        &-wifi:before {
            content: "\e9ef";
        }
    }

    &--xnano {
        font-size: 9px;
    }

    &--nano {
        font-size: 10px;
    }

    &--micro {
        font-size: 12px;
    }

    &--mini {
        font-size: 16px;
    }

    &--small {
        font-size: 32px;
    }

    &--medium {
        font-size: 64px;
    }

    &--large {
        font-size: 128px;
    }

    &--xlarge {
        font-size: 256px;
    }

    &--xxlarge {
        font-size: 512px;
    }

    &--disabled {
        cursor: not-allowed;
        opacity: .3;
    }
}
