@font-face {
    font-family: 'icomoon';
    font-style: normal;
    font-weight: normal;
    src: url('fonts/icomoon.eot');
    src: url('fonts/icomoon.eot?#iefix') format('embedded-opentype'), url('fonts/icomoon.svg#icomoon') format('svg'), url('fonts/icomoon.woff') format('woff'), url('fonts/icomoon.ttf') format('truetype');
}

[class^="fontIcon__icon-"]:before,
[class*="fontIcon__icon-"]:before {

    font-family: 'icomoon';
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-weight: normal;
    speak: none;
    text-rendering: optimizeLegibility;
}

.fontIcon {
    color: #336699;
    font-size: 32px;

    &__icon {

        &-power-bi:before {
            content: "\e900";
        }

        &-home:before {
            content: "\e901";
        }
        
        &-user:before {
            content: "\e971";
        }

        &-droits:before {
            content: "\e902";
        }

        &-clock:before {
            content: "\e903";
        }

        &-droits-logo:before {
            content: "\e904";
        }
        
        &-book-my-cleaners-logo:before {
            content: "\e905";
        }
    }

    &--xnano {
        font-size: 9px;
    }

    &--nano {
        font-size: 10px;
    }

    &--micro {
        font-size: 12px;
    }

    &--mini {
        font-size: 16px;
    }

    &--small {
        font-size: 32px;
    }

    &--medium {
        font-size: 64px;
    }

    &--large {
        font-size: 128px;
    }

    &--xlarge {
        font-size: 256px;
    }

    &--xxlarge {
        font-size: 512px;
    }

    &--disabled {
        cursor: not-allowed;
        opacity: .3;
    }
}
