.book-now {
    margin-top: 90px;
    text-align: center;

    .form__text-input {
        margin-right: 8px;
        
        .MuiInput-underline-19:before {
            border-bottom: 2px solid #003D90;
        }

        .MuiInput-underline-19:hover:not(.MuiInput-disabled-18):not(.MuiInput-focused-17):not(.MuiInput-error-20):before {
            border-bottom: 2px solid #003D90;
        }
    }

    &__container {
        margin: 0 !important;
        
        input {
            position: absolute;
            left: -9999px;
        }
    }

    &__label {
        display: inline-block;
        position: relative;
        margin: 20px;
        padding: 30px 50px 30px 50px;
        border: 5px solid #CBCBCB;
        border-radius: 10px;
        color: #939393;
        background-color: #F8F8F8;
        box-shadow: 0 0 20px rgba(0, 0, 0, .2);
        white-space: nowrap;
        cursor: pointer;
        user-select: none;
        transition: background-color .2s, box-shadow .2s;

        &__child {
            display: grid;
        }

        &:hover,
        input:focus+& {
            box-shadow: 0 0 20px rgba(0, 0, 0, .6);
        }

        input:checked+& {
            background-color: #003D90;
            color: white;
            border: 5px solid #AEBDD2;

            .fontIcon {
                color: #FFFFFF !important;
            }
        }

        input:checked+&::before {
            background-color: #fff;
        }
    }
}