.book-now {
    margin-top: 90px;
    text-align: center;

    .form__text-input {
        margin-right: 8px;
        
        .MuiInput-underline-19:before {
            border-bottom: 2px solid #003D90;
        }

        .MuiInput-underline-19:hover:not(.MuiInput-disabled-18):not(.MuiInput-focused-17):not(.MuiInput-error-20):before {
            border-bottom: 2px solid #003D90;
        }
    }

    &__container {
        
        input {
            position: absolute;
            left: -9999px;
        }

        label {
            display: inline-block;
            position: relative;
            margin: 20px;
            padding: 15px 30px 15px 62px;
            border: 3px solid #fff;
            border-radius: 100px;
            color: #fff;
            background-color: #6a8494;
            box-shadow: 0 0 20px rgba(0, 0, 0, .2);
            white-space: nowrap;
            cursor: pointer;
            user-select: none;
            transition: background-color .2s, box-shadow .2s;
        }

        label::before {
            content: '';
            display: block;
            position: absolute;
            top: 10px;
            bottom: 10px;
            left: 10px;
            width: 32px;
            border: 3px solid #fff;
            border-radius: 100px;
            transition: background-color .2s;
        }

        label:hover,
        input:focus+label {
            box-shadow: 0 0 20px rgba(0, 0, 0, .6);
        }

        input:checked+label {
            background-color: #ab576c;
        }

        input:checked+label::before {
            background-color: #fff;
        }
    }
}