.header {
    &__wrapper {
        background: #ECECEC;
        // box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);

        @media (min-width: 992px) {
            padding: 5px 150px 5px 150px;
        }
    }

    &__logo {
        width: 150px;
    }

    &__link-logo {
        cursor: pointer;
    }

    &__burger {
        cursor: pointer;
    }

    &__link {
        color: #1665C1 !important;
        font-size: 18px;
        font-weight: 600;
    }

    &__button {
        font-size: 18px;
        height: 36px;
        cursor: pointer;
        max-width: 100px;
    }
}